@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Nunito', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-body);
    @apply text-gray-700;
  }
  h1, h2, h3, h4, h5, h6, .font-heading {
    font-family: var(--font-heading);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}